/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
  ::-moz-selection {
    @content;
  }
  ::selection {
    @content;
  }
}

@include selection {
  color: white;
  background: #3498db;
}

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width: 19%
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title {
    margin-bottom: 5px;
  }

}



/* top navigation styling */
.top-navigation{
  background-color:#16a085;
}

.top-navigation > div > ul > li > a{
  color: #FFF !important;
}

.top-navigation > div > ul > li > a:hover{
  background-color: #1abc9c !important;
}


/* Navigation menu */
#pustakalaya-navbar > li > a {
  background: #27ae60;
  color: #FFF;
  padding-top:5px !important; padding-bottom:5px !important;
}

ul#pustakalaya-navbar > li > a:hover {
  background: #16a085;
}

ul#pustakalaya-navbar > li > a:active {
  background: #16a085;
}

ul#pustakalaya-dropdown-menu > li > a {
  background: #27ae60;
  color: #FFF;
  //padding-top:5px !important; padding-bottom:5px !important;
}

ul#pustakalaya-dropdown-menu > li > a:hover {
  background: #16a085;
}

ul#pustakalaya-dropdown-menu > li > a:active {
  background: #16a085;
}


/* search box section */
#pustakalaya_searchBox{
  margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

/* Book browsing section */
#book-browsing > ul{
  list-style: none;
}

#book-browsing > ul > div >li {
  margin-top: 5px;
  text-align: center;
  background: rgba(189, 195, 199,1.0);
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  display: block;
}

#book-browsing.col-md-4 > ul > div > li > a {
  color: #333333;
  display: block;
  text-align: left;
  margin-left: 15px;
}

#book-browsing.col-md-4 > ul> div > li > a:hover{
  color: #16a085;
  text-decoration: none;
  cursor: pointer;
}

/* Header styling */
#book-gallery > img {
  filter: 808080; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

#book-gallery > img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}


/* Pustakalaya Section */
/*.pustakalayaSection{
  height: 250px;
  background: #81C784;
}*/


/* pustakalayaSection > div > h4 {
  padding-top: 10px;
  color: #eeeeee;
  text-transform: capitalize;
  display:inline-block;
  background-color:#16a085;
  padding: 8px;

} */

/*style for slider*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  height: 200px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.carousel-inner>.item>img{
  height: 250px;
  max-width: 100%;
}

/* Interactive educational software style section */
.carousel-control {
  padding-top:10%;
  width:5%;
}


/*styling of pustakalayaSection*/
/*div.well{
  background:#A5D6A7;
  border:0px;
  border-radius:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
}
*/
/* footer styling*/

.footer-banner-first {
  background-color: #444444;
  width: auto;
  width: 100%;
}

.social-media-logo {
  width: 30px;
  height: 30px;
}

.partner-logo {
  margin: 10px;
  width: 37px;
  height: 32px;
}

.pustakalaya-logo {
  background: #FFFFFF;
  margin: 10px;
  width: 122px;
  height: 38px;
}

.pustakalaya-menu {
  background-color: #34cc0c;
  border: none;

}

/*hover dropdown menu */
.dropdown:hover .dropdown-menu {
  display: block;
}



.first-children > a{
  border-radius: 0px !important;
  background: #1abc9c !important;
  border-color: #1abc9c !important;
  padding: 2.5%;
}
.second-children a{
  border-radius: 0px !important;
  text-transform: capitalize !important;
}